<%=
    form_for([
        @todo_list,
        @todo_list.todo_items.build
    ]) do |f|
%>
    <%=
        f.text_field :content, placeholder: "New Todo"
    %>
    <%=
        f.submit
    %>
<% end %>