<h1 class="todo_list_title">
    Editing Todo List
</h1>

<div class="forms">
    <%= render 'form',
        todo_list: @todo_list
    %>
</div>

<div class="links">
    <%= link_to 'Cancel',
        todo_lists_path
    %>
</div>