<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700'
        rel='stylesheet'
        type='text/css'
    >
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
        rel="stylesheet"
    >

    <%= stylesheet_link_tag 'application',
        media: 'all',
        'data-turbolinks-track': 'reload'
    %>
    <%= javascript_pack_tag 'application',
        'data-turbolinks-track': 'reload'
    %>
  </head>

  <body>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
